NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyD9-zJ3t7zzzM2k8erIuez_ZFB24BXRDo0"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="keg-tracker-635ce.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://keg-tracker-635ce-default-rtdb.asia-southeast1.firebasedatabase.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="keg-tracker-635ce"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="keg-tracker-635ce.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="94819354072"
NEXT_PUBLIC_FIREBASE_APP_ID="1:94819354072:web:99bc7c6dc8e6212e455ead"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-4MXK8TFKBV"
